@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<!DOCTYPE html>
<html lang="en" dir="ltl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @Localizer["Document Managment System"]</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.rtl.min.css" integrity="sha384-gXt9imSW0VcJVHezoNQsP+TNrjYXoGcrqBZJpry9zJt8PCQjobwmhMGaDHTASo9N" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DMS.styles.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/b43a18ece3.js" crossorigin="anonymous"></script>
</head>
<body class="login-page-bg">
    <header>
        <nav class="navbar p-2 navbar-expand-sm navbar-toggleable-sm navbar-light nav-bg-color border-bottom box-shadow mb-3 text-lg-center">
            <h4 class="text-success">@Localizer["Document Managment System"]</h4>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted nav-bg-color">
        <div class="container">
            @Localizer["By: Sonali Bank ITD"] - @Localizer["DemoDMS"] &copy;2024
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
